// Place all the styles related to the shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//basic
body {
	background-color: $dark_white;
}

.btn-pink {
	background-color: $pink;
	border-radius: 5px;
	color: $white;
}

// navbar
nav {
	> .navbar-brand {
		> i {
			margin-right: 10px;
		}
	}
	> .collapse {
		> .navbar-nav {
			width: 100%;
			> .nav-item {
				> .nav-link {
					> i {
						margin-right: 10px;
					}
				}
				> .nav-link:hover {
					color: $white;
				}
			}
			> .nav-name {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}
}

// message
.alert {
	border-radius: 0px;
}

.alert-pink {
	background-color: $pink;
	color: $white;
}

// jumbotron
.jumbotron {
	background-color: $black;
	padding: 3rem 2rem;
	margin-bottom: 0;
	> .container {
		> .lead {
			color: rgba(255, 255, 255, 0.5);
			> strong {
				color: $white;
			}
		}
	}
}

// form message
.alert-persimmon {
	background-color: $persimmon;
	color: $white;
}

// index
#shots_index {
	> .container {
		> .row {
			> .col-12 {
				> .card {
					border-radius: 0px;
					border: 0px;
					padding: 10px 10px 5px 10px;
					text-decoration: none;
					box-shadow: 4px 4px 12px $dark_blue;
					> .card-img-top {
						border-radius: 0px;
						min-height: 165px;
					}
					> .content {
						position: absolute;
						padding: 10px;
						opacity: 0;
						> h6 {
							margin-bottom: 3px;
							color: $black;
						}
						> p {
							margin-bottom: 0px;
						}
					}
					> .card-body {
						padding: 0px;
						margin-top: 5px;
						> p {
							margin-bottom: 0px;
							> i {
								margin-right: 5px;
							}
						}
						> p + p {
							margin-left: 30px;
						}
					}
				}
				> .card:hover {
					> .card-img-top {
						opacity: 0.1;
						transition: 0.5s;
					}
					> .content {
						opacity: 1;
						transition: 0.5s;
					}
				}
			}
		}
	}
}

// show
#shots_show {
	> .container {
		> .col-12 {
			> .row {
				> .col-md-12 {
					margin-top: 10px;
					> h1 {
						margin-bottom: 0px;
					}
					> .text-muted {
						margin-bottom: 20px;
						> strong:first-child {
							color: $black;
							margin-left: 5px;
							margin-right: 5px;
						}
					}
				}
				> .col-md-8 {
					> .show_img {
						background-color: #fff;
						padding: 20px;
						> .img_size {
							width: 100%;
						}
					}
					> .show_content {
						margin-top: 20px;
						padding-left: 5px;
						padding-right: 5px;
					}
					> .comment {
						padding-left: 5px;
						padding-right: 5px;
						> h4 {
							margin-bottom: 20px;
						}
						> div {
							margin-bottom: 0px;
							> p {
								margin-bottom: 10px;
							}
							> em {
								color: $gray;
							}
						}
						> hr {
							margin-top: 10px;
							margin-bottom: 10px;
						}
						> .comment_item {
							margin-bottom: 20px;
						}
					}
				}
				> .col-md-4 {
					> .list-group {
						font-size: 16px;
						> .list-group-item {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}

.text_pink {
	color: $pink;
	font-weight: 500;
}

// show like action
.unlike_shot {
	color: $pink;
}

.like_shot {
	color: $gray;
}

.like_shot:hover {
	color: $pink;
}
