// Place all the styles related to the shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
	> .container {
		> .navbar-brand {
			> i {
				margin-right: 10px;
			}
		}
		> .collapse {
			> .navbar-nav {
				> .nav-item {
					> .nav-link {
						> i {
							margin-right: 10px;
						}
					}
					> .btn1 {
						background-color: $message;
						border-radius: 5px;
					}
				}
			}
		}
	}
}

.alert {
	border-radius: 0px;
}

.alert-pink {
	background-color: $message;
	color: $text;
}