// Place all the styles related to the shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// navbar
nav {
	> .navbar-brand {
		> i {
			margin-right: 10px;
		}
	}
	> .collapse {
		> .navbar-nav {
			width: 100%;
			> .nav-item {
				> .nav-link {
					> i {
						margin-right: 10px;
					}
				}
				> .nav-link:hover {
					color: $white;
				}
				> .btn1 {
					background-color: $pink;
					border-radius: 5px;
				}
			}
			> .nav-name {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}
}

.alert {
	border-radius: 0px;
}

.alert-pink {
	background-color: $pink;
	color: $white;
}
