<% if !user_signed_in? %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <p class="lead">
        <strong>What are you working on?</strong>
        Share your inspiration and see what's inspiring others.
      </p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-pink" %>
    </div>
  </div>
<% end %>
